.Speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.stage-direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: lightyellow;
}
.stage-direction:hover{
    background-color: olive;
    color:orange;
}

.name{
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.LADYWINDERMERE{
    color:lawngreen;
    font-size: 15px;
}

.MRSERLYNNE{
    color:mediumblue;
    font-size: 15px;
}

.LORDAUGUSTUS{
    color: blue;
    font-size: 15px;
}

.MRSERLYNNE:hover{
    border: 1px solid;
    background-color: darkblue;
    box-shadow: 3px 3px 3px green;
    text-shadow: 3px 4px 5px gray;
    filter: blur(1px);
}

.LORDAUGUSTUS:hover{
    border:1px solid;
    background-color: hotpink;
    box-shadow: 3px 3px 3px blue;
    text-shadow: 3px 4px 5px gray;
    filter: blur(1px);
}



table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even)
{
    background-color: #f2f2f2;
}

