.Speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.stage-direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: lightyellow;
}
.stage-direction:hover{
    background-color: olive;
    color:orange;
}

.h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.LADYWINDERMERE{
    color:lawngreen;
    font-size: 15px;
}

.MRSERLYNNE{
    color:mediumblue;
    font-size: 15px;
}


